#dobong:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#dobong:hover text {
  fill: darkblue;
  cursor: pointer;
}

#dongdaemun:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#dongdaemun:hover text {
  fill: darkblue;
  cursor: pointer;
}

#dongjak:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#dongjak:hover text {
  fill: darkblue;
  cursor: pointer;
}

#eunpyeong:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#eunpyeong:hover text {
  fill: darkblue;
  cursor: pointer;
}

#gangbuk:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#gangbuk:hover text {
  fill: darkblue;
  cursor: pointer;
}

#gangdong:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#gangdong:hover text {
  fill: darkblue;
  cursor: pointer;
}

#gangnam:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#gangnam:hover text {
  fill: darkblue;
  cursor: pointer;
}

#gangseo:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#gangseo:hover text {
  fill: darkblue;
  cursor: pointer;
}

#geumcheon:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#geumcheon:hover text {
  fill: darkblue;
  cursor: pointer;
}

#guro:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#guro:hover text {
  fill: darkblue;
  cursor: pointer;
}

#gwangjin:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#gwangjin:hover text {
  fill: darkblue;
  cursor: pointer;
}

#jongno:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#jongno:hover text {
  fill: darkblue;
  cursor: pointer;
}

#jung:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#jung:hover text {
  fill: darkblue;
  cursor: pointer;
}

#jungnang:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#jungnang:hover text {
  fill: darkblue;
  cursor: pointer;
}

#mapo:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#mapo:hover text {
  fill: darkblue;
  cursor: pointer;
}

#nowon:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#nowon:hover text {
  fill: darkblue;
  cursor: pointer;
}

#seocho:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#seocho:hover text {
  fill: darkblue;
  cursor: pointer;
}

#seodaemun:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#seodaemun:hover text {
  fill: darkblue;
  cursor: pointer;
}

#seongbuk:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#seongbuk:hover text {
  fill: darkblue;
  cursor: pointer;
}

#seongdong:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#seongdong:hover text {
  fill: darkblue;
  cursor: pointer;
}

#songpa:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#songpa:hover text {
  fill: darkblue;
  cursor: pointer;
}

#yangcheon:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#yangcheon:hover text {
  fill: darkblue;
  cursor: pointer;
}

#yeongdeungpo:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#yeongdeungpo:hover text {
  fill: darkblue;
  cursor: pointer;
}

#yongsan:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#yongsan:hover text {
  fill: darkblue;
  cursor: pointer;
}

#gwanak:hover path {
  fill: #f2849e;
  cursor: pointer;
}

#gwanak:hover text {
  fill: darkblue;
  cursor: pointer;
}

svg > g > g > text {
  fill: black;
  font-size: 35px;
  font-family: sans-serif;
}

#gwanak path, #yongsan path, #gangseo path, #mapo path, #jung path, #dongdaemun path, #songpa path, #yangcheon path, #jungnang path, 
#seongdong path, #nowon path, #jongno path, #dobong path, #guro path, #dongjak path, #seongbuk path, #gwangjin path, #yeongdeungpo path, 
#seocho path, #gangnam path, #gangdong path, #geumcheon path, #eunpyeong path, #gangbuk path, #seodaemun path {
  fill: #f4f3f3;
}

